* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Primary colours */
:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

}

 /* Neutral */
:root{
    --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    --paragraph-font-18px: 18px;
}
body {
    background: var(--Very-dark-blue-main-BG);
    font-size: var(--paragraph-font-18px);
}
.bg-main {
    background-color: var(--Very-dark-blue-card-BG);
}
.w-main {
    width: 90vw;
}
.mx-auto{
    margin: 0 auto;
}
.my {
    margin: 10px;
}
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.p-xy {
    padding: 10px;
}