  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    --paragraph-font-18px: 18px;
}
body {
    background: var(--Very-dark-blue-main-BG);
    font-size: var(--paragraph-font-18px);
    color: var(--Soft-blue);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}
.grid-center {
    display: grid;
    place-items: center;
}
figure {
    cursor: pointer;
}
.hero-eye-icon {
    background-color: var(--Cyan);
    background-image: url(./images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.hero-image {
    width: 100%;
    opacity: 1;
}
figure:hover .hero-image {
    opacity: .5;   
}
.h-100vh {
    height: 100vh;
}
.bg-main {
    background-color: var(--Very-dark-blue-card-BG);
}
.w-main {
    width: 250px;
}
.mx-auto{
    margin-right: auto;
    margin-left: auto;
}
.my {
    margin-top: 10px;
    margin-bottom: 10px;
}
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.justify-between {
    justify-content: space-between;
}
.p-xy {
    padding: 20px;
}
.rounded {
    border-radius: 10px;
}
.mb {
    margin-bottom: 10px;
}
span {
    padding-left: 0.3rem;
}
.t-white {
    color: var(--White);
    cursor: pointer;
}
.t-white:hover {
    color: var(--Cyan);
}
.fw-700 {
    font-weight: 700;
}
.fw-400 {
    font-weight: 400;
}
.fw-300 {
    font-weight: 300;
}
.cyan {
    color: var(--Cyan);
}
.py {
    padding: 10px 0;
}
.t-small {
    font-size: small;
}
hr {
    background: var(--Very-dark-blue-line);
    border: none;
    height: 1px;
}
